@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap");

.btn,
body {
  place-content: center;
}
.btn,
.wraper {
  transition: 0.5s;
}
#res-cat,
#res-val,
.btn {
  text-transform: capitalize;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url(./17.jpg) center/cover #1c1c1c;
  font-family: "Poppins", sans-serif;
  display: grid;
  min-height: 100vh;
  width: 100%;
}
.btn,
hr {
  width: 80%;
}
.wraper {
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.486);
}
h1,
h5 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  color: rgba(28, 28, 28, 0.747);
}
hr {
  margin: 10px auto;
  opacity: 0.5;
  border-color: #000;
}
.calculator form {
  display: grid;
  align-items: center;
}
input[type="number"] {
  outline: 0;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  font-size: 20px;
}
label {
  font-weight: 300;
  margin: 0.5rem 0;
  color: #000;
  opacity: 0.7;
}
.btn {
  display: inline-block;
  background-color: #2a5168;
  color: #faebd7;
  justify-self: center;
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  display: grid;
  cursor: pointer;
  border-radius: 3rem;
  font-weight: 500;
}
.btn:hover {
  background-color: #116a9e;
}
#res-cat,
#res-val {
  margin: 1rem auto 0;
  opacity: 0;
  text-align: center;
  font-size: 1.5rem;
  transition: opacity 0.5s;
}
